/*  Complete project details: https://randomnerdtutorials.com/esp32-web-server-websocket-sliders/  */

html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
  }
  h1 {
    font-size: 1.8rem;
    color: white;
  }

  .topnav {
    overflow: hidden;
    background-color: #132047;
  }
  body {
    margin: 0;
  }
  .content {
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .card-grid {
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card {
    background-color: rgba(255, 255, 255, 0.185);
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    width: 400px;
    margin-top:-400px
  }
  .card-title {
    font-size: 2rem;
    font-weight: bold;
    color: #0b003b;
  }
  .state {
    
    color: white;
    font-weight: 700;
    color: #0b003b;
  }
  .slider {
    -webkit-appearance: none;
    margin: 0 auto;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background: #d3d3d3a8;
    outline: none;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #034078;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50% ;
    background: #034078;
    cursor: pointer;
  }
  .switch {
    padding-left: 5%;
    padding-right: 5%;
  }

  .container{
    display: table;
    float: left;
    width: 100%;
  }
.Tutorial{
  font-size:larger;
}
  .highcharts-background{
    fill: none;
  }

  #gif{
    height: 100px;
  }

  canvas {
    display: block;
    vertical-align: bottom;
  }

  #MadeByDiv{
    position: fixed;
    margin-top: 30px;
    bottom: 0px;
    height: 25px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #MadeBy{
    width: 100%;
    color: white;
    font-size: x-small;
  }

  #dot{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: radial-gradient(rgba(125,244,154,1) 7%, rgba(3,187,16,1) 100%);
    margin: auto;
  }
  .middle{
    position: absolute;
    transform: translate(0,149px);
    width: 400px;
    height: 0px;
    border-top: 2px solid red;
    z-index: 2;
  }
  #pitch{
    position:absolute;
    transform: translate(183px,176px);
    border-radius: 50%;
    background: darkgreen;
    border: 2px solid black;
    height: 30px;
    width: 30px;
    z-index: 1;
  }

  .Arrow{
    position: relative;
    width: 50px;
    height: 0px;
    border-top: 2px solid rgb(18, 77, 22);
    z-index: 2;
  }



   #OverAll{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: green;
    visibility: hidden;
    opacity: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    text-align: center;
    }
  .GoalDone{
    position: relative;
    justify-content: center;
    align-self: center;
    vertical-align: bottom;
    top: 40%;
    line-height: normal;
    font-size:5em;
    margin: auto;
    background: -webkit-linear-gradient(90deg, #f89f81 0%, #92ffe2 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
  }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}





/* CSS */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  border: 0px;
  color: white;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #2fff71 0%, #197df0  51%, #7bcf76  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}
